<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @purchase.user.first_name %>
</p>

<p>
  <b>Product:</b>
  <%= @purchase.product.name %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @purchase.purchase_date %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @purchase.delivery_date %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
