<h1>Listing products</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Color</th>
    <th>Brand</th>
    <th>Fragile</th>
    <th>Available</th>
    <th>Listing date</th>
    <th>Expiry date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.member_id %></td>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= product.description %></td>
    <td><%= product.color %></td>
    <td><%= product.brand %></td>
    <td><%= product.fragile %></td>
    <td><%= product.available %></td>
    <td><%= product.listing_date %></td>
    <td><%= product.expiry_date %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
